#########################################################################
#   For quarterly updates, update the image tags below and re-deploy.   #
#########################################################################

LLM_IMAGE="ghcr.io/understand-tech/ut-llm-customers:latest-arm64"
API_IMAGE="ghcr.io/understand-tech/ut-api-customer:latest-arm64"
WORKER_IMAGE="ghcr.io/understand-tech/ut-worker-customer:latest-arm64"
FRONTEND_IMAGE="ghcr.io/understand-tech/ut-frontendv2-customer:latest-arm64"
API_CUSTOMER_IMAGE="ghcr.io/understand-tech/ut-api-rest-customer:latest-arm64"
WORKER_CUSTOMER_IMAGE="ghcr.io/understand-tech/ut-worker-rest-customer:latest-arm64"
LLMS_APP_IMAGE="ghcr.io/understand-tech/ut-app-llms-customer:latest-arm64"
ADMIN_PORTAL_IMAGE="ghcr.io/understand-tech/ut-portal-customer:latest-arm64"
ASSISTANTS_APP_IMAGE="ghcr.io/understand-tech/ut-app-assistants-customer:latest-arm64"

##################################################################################################################################
#   Edit these as needed. For more information visit                                                                             #
#   https://docs.understand.tech/documentation/ai-in-a-box/installation-and-setup-guide#step-8-configure-environment-variables   #
##################################################################################################################################

MONGODB_USERNAME="mongoadmin"
MONGODB_PASSWORD="12345678"

WORKER_REPLICAS="2"
WORKER_CUSTOMER_REPLICAS="2"

VLLM_LLM_MODEL="openai/gpt-oss-20b"

#########################################################################
#   Do not edit below                                                   #
#########################################################################

# Database configuration
MONGODB_HOST="mongodb"
MONGODB_PORT="27017"
MONGODB_DATABASE="ut-db"

# LLM configuration
LLM_BACKEND="vllm"
VLLM_CONDENSE_MODEL="openai/gpt-oss-20b"
VLLM_VLM_MODEL="Qwen/Qwen3-VL-4B-Instruct"
VLLM_LLM_BASE_URL="http://localhost:8001/v1"                                                                                                                                    
VLLM_VLM_BASE_URL="http://localhost:8002/v1"
VLLM_LLM_GPU_MEM_UTIL="0.55"
VLLM_VLM_GPU_MEM_UTIL="0.12"
VLLM_LLM_EXTRA_ARGS="--max-model-len 32768"
VLLM_VLM_EXTRA_ARGS="--limit-mm-per-prompt.video 0 --max-model-len 8192"
VLLM_API_KEY="EMPTY"
LLM_MAX_CONTEXT_LEN="131072"
DOWNLOAD_ONNX_EMBED="true"
ONNX_EMBED_HF_REPO="Qwen/Qwen3-Embedding-0.6B"
EMBED_MODEL_BACKEND="nomic"
HF_HUB_OFFLINE="0"
#OLLAMA_MODEL_LLM="gpt-oss:20b"
#OLLAMA_MODEL_VLM="qwen3-vl:4b-instruct"
#OLLAMA_MODEL_CONDENSE_LLM="qwen3:4b-instruct-2507-q4_K_M"
#OLLAMA_HOST_PORT="11434"

MODELS_DIR="/root/models/"
EMBED_URL="https://huggingface.co/nomic-ai/nomic-embed-text-v1.5-GGUF/resolve/main/nomic-embed-text-v1.5.f32.gguf"
EMBED_MODEL_NAME="nomic-embed-text-v1.5.f32.gguf"
RERANKER_HF_PATH="tomaarsen/Qwen3-Reranker-0.6B-seq-cls"
RERANKER_MODEL_NAME="Qwen3-Reranker-0.6B-seq-cls"
GPU_VM_API_TOKEN="ut"
GPU_VM_URL="http://llm:8000"

ADMIN_MAIL="cto@understand.tech"
FRONTEND_URL_AUTH="https://understand.local/en/chat"
REDIS_HOST="redis"
REDIS_PORT="6379"
openid_scope="openid profile email"

OA_KEY="SJKFVK"
SENDGRID_API_KEY="FVVE"
OPENID_SECRET_KEY="SJBVSJB"
DEPLOY_ENV="production"

VITE_URL_API_REST="https://understand.local"
VITE_AUTH_TYPE="open-id"
VITE_DEPLOYMENT_TYPE="onprem-ai-in-a-box"
EXTRA_ALLOWED_ORIGINS="https://admin.understand.local,https://llms.understand.local,https://assistants.understand.local"

PUBLIC_BASE_URL="https://understand.local"
REDIRECT_PATH="/api/auth/callback"
REDIRECT_URI="https://understand.local/api/auth/callback"
STATE_SECRET="SECRET"

BACKEND_URL="https://understand.local/api"
DOMAIN_URL="https://understand.local/"

CUSTOMER_API_URL="https://understand.local/api/v3"

DB_PROVIDER="mongodb"
STORAGE_PROVIDER="local"
LOCAL_STORAGE_BASE="/app/storage"
LOG_LEVEL="DEBUG"
TYPE_DEPLOIEMENT="onprem"
ADMIN_SETUP_PASSWORD="password"

JWT_SECRET="czIzgahTJGzdG3b1XtEgGIWPvwhdfBvhVd1JjzetjWQ"

VITE_API_BASE_URL="https://understand.local/api"
VITE_UT_APP_URL="https://understand.local"

APP_LLMS_MONGODB_DB="ut-app-llms"
APP_LLMS_MONGODB_DB="ut-app-llms"
APP_LLMS_BASE_URL="https://llms.understand.local"
APP_LLMS_CORS_ORIGINS="https://llms.understand.local"
APP_LLMS_UT_APP_BASE_URL="http://api:8501/api"
APP_LLMS_UT_CUSTOMER_URL="http://api-customer:8501"
UNDERSTAND_API_VERSION="v3"

